<div class="navbar bg-base-100">
    <div class="navbar-start">
      <a href="{% url 'introduction:welcome' %}" class="flex justfy-between">
        <img src="https://tse2.mm.bing.net/th?id=OIP.vgkW4qACiJ5tutDkyuBQCQHaE8&pid=Api&P=0&h=180" alt="Image" class="w-1/5 rounded-box">
        <p class="mt-4 ml-5 font-bold">QuestionnerGame</p>
      </a>
      <div class="flex justify-center dropdown m-3">
        <div tabindex="0" role="button" class="btn m-1">
          Theme
          <svg width="5px" height="5px" class="h-2 w-2 fill-current opacity-60 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048"><path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path></svg>
        </div>
        <ul tabindex="0" class="dropdown-content z-[1] p-2 shadow-2xl bg-base-300 rounded-box w-40">
          <li><input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Smyk" value="cmyk"/></li>
          <li><input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Synthwave" value="synthwave"/></li>
        </ul>
      </div>
    </div>
    <div class="navbar-center hidden lg:flex">
        <div class="dropdown dropdown-end">
            {% if user.is_authenticated %}
              <button class="btn btn-primary font-bold">{{user.username}}</button>
              <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-45">
                <li><a href="{% url 'registration:logout' %}" class="font-bold">Вийти</a></li>
              </ul>
            {% else %}
              <div class="dropdown dropdown-end">
                <button class="btn text-secondary font-serif">Увійти</button>
                <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-45">
                  <li><a href="{% url 'registration:login' %}" class="text-secondary font-bold mb-2">Увійти</a></li>
                  <li><a href="{% url 'registration:signup' %}" class="text-secondary font-bold">Зареєструватися</a></li>
                </ul>
              </div>
            {% endif %}
        </div>
    </div>
    <div class="navbar bg-base-100">
  
    </div>
</div>