{% extends "base.html" %}
{% block title %}Introduction{% endblock %}

{% block content %}
<div class="text-2xl rounded-box mt-3 pt-8">
    <h1 style="line-height: 2">Вас вітає QuestionnerGame - гра, в якій ви повинні відповідати на запитання авторів відповідних тестів і отримувати бали.<br>
    Проаналізуйте правила гри:</h1>
</div>
<div class="text-3xl rounded-box text-secondary font-bold">
    1. Зареєструвати себе.<br>
    2. Зайти та зареєструватися на тест.<br>
    3. Відповісти на всі питання з тесту автора.<br>
    4. Отримати ваш загальний бал.<br>
    5. Ви можете заходити ще раз на тест того ж автора або на тест інших авторів.
</div>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8M7qV7TIX6_7Hr1I9MjPdtXZ1F7yvPnPazw&s" class="mt-5 w-full h-80 mb-4 rounded-box" alt="Image">
{% endblock %}